* {
    margin: 0;
    padding: 0;
    font-family:
        Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background-image:url(https://cdn.hswstatic.com/gif/celsius-convert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h1 {
    color: rgb(244, 243, 252);
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.converter-row {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: rgba(16, 1, 57, 0.936);
    border-radius: 10px;
    padding: 50px 20px;
}

.col {
    text-align: left; 
    margin-bottom: 20px; 
}

.col label {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #f1f1f7;
}

.col input {
    width: 350px; 
    height: 25px; 
    background: rgb(245, 241, 241);
    border-radius: 5px;
    text-align: center;
}